# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
soundeffects/* filter=lfs diff=lfs merge=lfs -text
animations/* filter=lfs diff=lfs merge=lfs -text
ui/* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
